@page "/deleteProduct/{Id:int}"
@inherits DeleteProductBase

<h3>Delete Product Details</h3>

<hr />

<EditForm Model="Product">
    <div class="alert-danger">
        <h3>Do you want to delete @Product.Name?</h3>
        <button type="button" class="btn btn-outline-danger" @onclick="DeleteProduct" style="font-weight: Bold">Yes, Delete</button>
        <button type="button" class="btn btn-outline-warning text-white" @onclick="Cancel" style="font-weight: Bold">No, Don't Delete</button>
    </div>
</EditForm>